Here are the currently available supplies in your country:

<pre>
  <%= supplies.each do |supply| %>
        <li><%= supply.shortcode %>) <%= supply.name %></li>
    <% end %>
</ul>

    </body>
</html>
